  .page-404 {
    text-align: center;
    margin-top: 4rem
  }
  
  .titre-404 {
    color: #ff6060;
    font-size: 150px;
    margin: auto;
  }
  
  .description-404 {
    color: #ff6060;
    display: block;
    font-size: 20px;
  }
  
  .lien {
    display: block;
    margin-top: 150px;
    margin-bottom: 100px;
    color: #ff6060;
  }