.card-all {
    display: flex;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-right: 5rem;
    margin-left: 5rem;
    gap: 30px;
}

.card-content {
    position: relative;
    margin: 2rem auto;
    border-radius: 2rem;
    flex: 1 1 30%;
}

.card-content img {
    z-index: 1;
    border-radius: 2rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    
}

.card-content h2 {
    position:absolute;
    z-index:2;
    bottom: 15px;
    left: 10px;
    font-size: 14px;
    color: white;
}
