.card-all {
    display: flex;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    margin: 50px 100px 50px 100px;
    padding: 30px;
    border-radius: 1rem;
    margin-top: 20px;
    gap: 30px;
}

.card-content {
    position: relative;
    border-radius: 2rem;
    flex: 1 1 30%;
}

.card-content img {
    z-index: 1;
    border-radius: 2rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    
}

.card-content h2 {
    position:absolute;
    z-index:2;
    bottom: 15px;
    left: 15px;
    font-size: 14px;
    color: white;
    width: min-content;
}

@media (max-width: 768px) {
    .card-all  {
        margin: 20px 20px 20px 20px;
        display: block;
        background-color: white;
        padding: 0;
    }
    
  }