.carrousel {
    height: 500px;
    margin: 20px 100px 20px 100px;
}

.carrousel-content{
    position: relative;
}
.fleche-gauche {
    position: absolute;
    top: 185px;
    left: 1rem;
}
.fleche-droite {
    position: absolute;
    top: 185px;
    right: 1rem;
}
.image-active {
    position: relative;
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    margin-top: 2rem;
}

.image-inactive {
    display: none;
}

@media (max-width: 768px) {
    .carrousel {
        margin: 20px 20px 20px 20px;
    }
    
  }