.fiche-logement h1 {
    color: #FF6060;
}
.tags {
    margin-top: 38px;
}
.tag {
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    padding: 5px 30px 5px 30px;
    margin-right: 20px;
}

.fiche-logement-dropdown {
    display: flex;
    margin: 20px 100px 150px 100px;
    gap: 40px;
}

.appartement-info {
    color: #FF6060;
    margin: 20px 100px 20px 100px;
    display: flex;
    justify-content: space-between;
}

.host-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width : min-content;
}
.host-info img {
    height: 64px;
    width: 64px;
    border-radius: 50px;
}

.etoile {
    display: flex;
    
}

.etoile-grise {
    background-image: url(../data/etoile-grise.png);
    width: 30px;
    height: 30px;
}

.etoile-orange {
    background-image: url(../data/etoile-orange.png);
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .appartement-info {
        margin: 20px 20px 20px 20px;
        display: block;
    }
    .fiche-logement-dropdown {
        margin: 20px 20px 60px 20px;
    }

  }