
.fiche-logement  {
    color: #FF6060;
    padding: 50px 100px 50px 100px;
}
.fiche-logement h1 {
    color: #FF6060;
}
.tags {
    margin-top: 38px;
}
.tag {
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    padding: 5px 30px 5px 30px;
    margin-right: 20px;
}



.fiche-logement-dropdown {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.appartement-info {
    display: flex;
    justify-content: space-between;
}

.host-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width : min-content;
}
.host-info img {
    height: 64px;
    width: 64px;
    border-radius: 50px;
}