.header-nav {
    padding: 50px 100px 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header-nav img {
    width: 10rem;
}


.header-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
}

.header-nav a {
    list-style-type: none;
    text-decoration: none;

    color: #FF6060;
}
